/* LeechBlock options CSS style */

html {
	overflow-y: scroll;
}

body {
	background: #fff;
	color: #000;
	font-size: 14px;
}

.ui-button {
	background: #eee;
	border: 1px solid #888;
}

.ui-button:focus {
	background: #eee;
	border: 1px solid #888;
}

.ui-button:hover {
	background: #ddd;
	border: 1px solid #888;
}

.ui-widget button {
	padding: 2px 8px;
	background: #eee;
	border: 1px solid #888;
}

.ui-widget button:hover {
	background: #ddd;
}

.ui-widget fieldset, input, select, textarea {
	background: #fff;
	color: #000;
	border: 1px solid #888;
}

.ui-widget hr {
	height: 0px;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #888;
}

.ui-widget legend {
	font-weight: bold;
}

.ui-widget a {
    color: #2ca089;
    text-decoration: none;
}

.ui-widget a:hover {
    text-decoration: underline;
}

.ui-widget th, td {
	text-align: center;
	padding: 4px 12px;
}

#form-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#tabs {
	display: inline-block;
}

#paneAbout {
	color: #2e3436;
	text-align: center;
	line-height: 1.5em;
}

#promptAccessCodeText {
	font: normal 14px monospace;
	user-select: none;
	-moz-user-select: none;
}

#promptAccessCodeCanvas {
	background: #fff;
}

#promptAccessCodeInput {
	font: normal 14px monospace;
}
