/* LeechBlock options style */

html {
	overflow-y: scroll;
}

@media (prefers-color-scheme: light) {

	body {
		background: #fff;
	}

}

body {
	color: #fff;
	font-size: 14px;
}

.ui-button {
	background: #34d46a;
	color: #000;
	border: none;
	border-radius: 50px;
	padding:8px 15px;
	animation-name: ui-button-unhover;
 	animation-duration: 0.2s;
}

.ui-button:focus {
	background: #34d46a;
	border:none;
}

.ui-button:hover {
	background: #8cff6f;
	border:none;
	animation-name: ui-button-hover;
 	animation-duration: 0.2s;
}

.ui-widget button {
	background: #ccc;
	color: #333;
	border: none;
	padding:8px 12px;
	border-radius:50px;
	animation-name: widget-unhover;
 	animation-duration: 0.2s;
}

.ui-widget button:hover:enabled {
	background: #ddd;
	animation-name: widget-hover;
 	animation-duration: 0.2s;
}

.ui-widget button:active:enabled {
	background: #ccc;
}

.ui-widget button:disabled {
	background: #eee;
	color: #666;
	border: none;
}

.ui-widget fieldset, .ui-widget input, .ui-widget select, .ui-widget textarea {
	background: #fff;
	color: #000;
	border: 1px #aaa solid;
	border-radius:15px;
	padding: 8px 10px;
	margin: 10px 0px;
}

.ui-widget input:disabled, .ui-widget select:disabled, .ui-widget textarea:disabled {
	background: #eee;
	color: #666;
	border: 1px solid #ccc;
}

.ui-widget hr {
	height: 0px;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #888;
}

.ui-widget legend {
	font-weight: bold;
}

.ui-widget a {
    color: #2ca089;
    text-decoration: none;
}

.ui-widget a:hover {
    text-decoration: underline;
}

.ui-widget th, .ui-widget td {
	text-align: center;
	padding: 4px 12px;
	border: none;
}

.ui-widget code {
	font: normal 14px monospace;
}

.ui-widget-header {
	background: #fff;
	color: #333;
	border: none;
}

.ui-widget-content {
	background: #eee;
	color: #000;
	border: none;
}

.ui-widget.ui-widget-content {
	border: none;
}

.ui-tabs .ui-state-default {
	background: #ccc;
	border: none;
	border-radius: 15px 15px 0px 0px;
	padding-top: 3px !important;
}

.ui-tabs .ui-state-default a {
	color: #333;
}

.ui-tabs .ui-state-hover {
	background: #aaa;
	border: none;
	animation-name: tab-hover;
  	animation-duration: 0.2s;
}

.ui-tabs .ui-state-active {
	background: #777;
	border: none;
	animation-name: tab-select;
  	animation-duration: 0.2s;
}

.ui-tabs .ui-state-active a {
	color: #eee;
}


.logo {
	width: 408px;
}

#form-container {
	display: flex;
	justify-content: center;
}

#form {
  text-align: center;
}

#tabs {
	display: inline-block;
	text-align: left;
}

#paneAbout {
	color: #2e3436;
	text-align: center;
	line-height: 1.5em;
}

#promptAccessCodeText {
	font: normal 14px monospace;
	user-select: none;
	-moz-user-select: none;
}

#promptAccessCodeCanvas {
	background: #fff;
}

#promptAccessCodeInput {
	font: normal 14px monospace;
}

#clockOffsetTime {
	background: #def;
	border: 1px solid #888;
	padding: 2px 4px;
}

#results {
	font: normal 12px monospace;
}

@keyframes ui-button-hover {
  	from {background-color: #34d46a;}
  	to {background-color: #8cff6f;}
}

@keyframes ui-button-unhover {
  	from {background-color: #8cff6f;}
  	to {background-color: #34d46a;}
}

@keyframes widget-hover {
	from {background-color: #ccc;}
	to {background-color: #ddd;}
}

@keyframes widget-unhover {
	from {background-color: #ddd;}
	to {background-color: #ccc;}
}

@keyframes tab-select {
  	from {background-color: #ccc;}
  	to {background-color: #777;}
}

@keyframes tab-hover {
  	from {background-color: #ccc;}
  	to {background-color: #aaa;}
}

@keyframes tab-unhover {
  	from {background-color: #aaa;}
  	to {background-color: #ccc;}
}