/* LeechBlock popup style */

@media (prefers-color-scheme: light) {

	body {
		background-color: #fff;
	}

}

@media (prefers-color-scheme: dark) {

	body {
		background-color: #222;
	}

}

body {
	color: #fff;
	font-size: 14px;
	text-align: center;
}

#button-container {
	display: inline-block;
	width: 180px;
}

button {
	background: #eee;
	color: #333;
	border: none;
	padding:8px 12px;
	margin: 2px 0px;
	border-radius:50px;
	animation-name: button-unhover;
 	animation-duration: 0.2s;
}

button:hover:enabled {
	background: #ddd;
	animation: button-hover;
	animation-duration: 0.2s;
}

button:active:enabled {
	background: #ccc;
}

.logo {
	width: 204px;
}

@keyframes button-hover {
  	from {background-color: #eee;}
  	to {background-color: #ddd;}
}

@keyframes button-unhover {
  	from {background-color: #ddd;}
  	to {background-color: #eee;}
}