/* LeechBlock popup CSS style */

body {
	background-color: #fff;
	color: #000;
	font-size: 14px;
	text-align: center;
}

#button-container {
	display: inline-block;
	width: 150px;
}

button {
	display: inline;
	width: 100%;
	margin: 2px;
}
