/* LeechBlock popup style */

body {
	background-color: #fff;
	color: #000;
	font-size: 14px;
	text-align: center;
}

#button-container {
	display: inline-block;
	width: 180px;
}

button {
	display: inline;
	width: 100%;
	margin: 2px;
	padding: 2px;
	background: #eee;
	border: 1px solid #888;
	border-radius: 6px;
}

button:hover:enabled {
	background: #ddd;
}

.logo {
	width: 204px;
}
