/* LeechBlock blocking/delaying page style */

@media (prefers-color-scheme: light) {

	body {
		background: #fff;
	}

}

@media (prefers-color-scheme: dark) {

	body {
		background: #000;
	}

}

body {
	padding:30px 0px;
	color: #000;
	font: normal 16px "Open Sans", Arial, sans-serif;
	text-align: center;
}

div {
	margin-top: 40px;
}

h1 {
    font-size: 24px;
    font-weight: 300;
}

a {
    color: #2ca089;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
	font-weight: bold;
}

input {
	background: #fff;
	color: #000;
	border: 1px #aaa solid;
	border-radius:15px;
	padding: 8px 10px;
	margin: 10px 0px;
}

button {
	background: #eee;
	color: #333;
	border: none;
	padding:6px 12px;
	margin: 2px 0px;
	border-radius:50px;
	animation-name: button-unhover;
 	animation-duration: 0.2s;
}

button:hover:enabled {
	background: #ddd;
	animation: button-hover;
	animation-duration: 0.2s;
}

button:active:enabled {
	background: #ccc;
}

@keyframes button-hover {
  	from {background-color: #eee;}
  	to {background-color: #ddd;}
}

@keyframes button-unhover {
  	from {background-color: #ddd;}
  	to {background-color: #eee;}
}

.logo {
	width:408px;
	animation: leechblock;
	animation-duration: 1s;
}

@keyframes leechblock {
  	from {width:100%;}
  	to {width:408px;}
}

.keyword {
	font-weight: bold;
}

.time {
	font-weight: bold;
}

.delay {
	font-weight: bold;
}

.error {
	background: #f00;
}

.support {
	color: #777;
	font-size: 14px;
	font-style: italic;
}

.support a {
	color: #777;
	text-decoration: underline;
}
